@page "/our-story"
@model FuseHostelsAndTravel.Web.Pages.OurStory.IndexModel

@section Styles {
    <style type="text/css">
        .header-banner-image-background {
            background-position-y: 50%;
        }
    </style>
}

<section id="headerBanner">
    @Html.DisplayFor(x => x.HeaderBanner)
    <partial name="_NavPillsPartial" model="Model.NavPills" />
</section>
<section id="who-we-are" class="overflow-hidden inherit-sticky-parent">
    @Html.DisplayFor(x => x.IntroductionBanner)
</section>
<section id="what-we-do" class="overflow-hidden bg-light">
    @Html.DisplayFor(x => x.AboutBanner)
</section>
<section id="our-core-values">
    <div class="container-fluid p-0 m-0 position-relative">
        <div class="container pt-8 text-center ovals-container-parent">
            <div class="row justify-content-lg-center has-parallax-scroll">
                <div class="col-12">
                    <h2>OUR CORE VALUES</h2>
                </div>
            </div>
        </div>
        <div class="container pb-8 pt-5">
            <div class="row g-lg-10 mb-3 mb-lg-0">
                <div class="col-lg-6 has-parallax-scroll">
                    <h4 class="tilted display-6 bg-primary">Adventure</h4>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore.
                    </p>
                </div>
            </div>
            <div class="row g-lg-10 mb-3 mb-lg-0">
                <div class="col-lg-6 offset-lg-6 has-parallax-scroll">
                    <h4 class="tilted display-6 mt-lg-n5 bg-mustard">Fun</h4>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore.
                    </p>
                </div>
            </div>
            <div class="row g-lg-10 mb-3 mb-lg-0">
                <div class="col-lg-6 has-parallax-scroll">
                    <h4 class="tilted display-6 bg-red">Integrity</h4>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore.
                    </p>
                </div>
            </div>
            <div class="row g-lg-10">
                <div class="col-lg-6 offset-lg-6 has-parallax-scroll">
                    <h4 class="tilted display-6 mt-lg-n5 bg-pink">Success</h4>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="joinOurCrew">
    <div class="container-fluid bg-gray">
        <div class="container pt-5 pb-5 has-parallax-scroll">
            <div class="row justify-content-lg-between align-items-center">
                <div class="col-lg-auto mb-3 mb-lg-0">
                    <div class="row flex-column">
                        <h4 class="tilted mt-2">JOIN OUR CREW</h4>
                    </div>
                </div>
                <div class="col-lg-4 mb-3 mb-lg-0">
                    <div class="row flex-column">
                        <p class="text-white">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
                    </div>
                </div>
                <div class="col-lg-auto">
                    <div class="row flex-column">
                        <a class="btn btn-primary" asp-page="/Contact/Index">Email Us</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>