@page "/cookie-policy"
@model FuseHostelsAndTravel.Web.Pages.CookiePolicy.IndexModel

<section id="cookiePolicy" class="bg-light overflow-hidden position-relative">
    <div class="container-fluid">
        <div class="container pt-8 pb-8">
            <div class="row d-flex justify-content-center text-center">
                <div class="col-lg-8">
                    <h1 class="display-3 mb-4 text-center">COOKIE POLICY</h1>


                </div>
            </div>
        </div>

        @Html.DisplayFor(x => x.OvalContainers)
    </div>
</section>