@{
    if (ViewData.TryGetValue("ParentLayout", out var parentLayout))
    {
        Layout = (string)parentLayout;
    }
    else
    {
        Layout = "/Areas/Identity/Pages/_Layout.cshtml";
    }
}

<section id="account" class="overflow-hidden">
    <div class="container-fluid p-0 header-banner">
        <div class="header-banner-image-background d-flex justify-content-center align-items-end" style="background-image: url('https://images.unsplash.com/photo-1532635241-17e820acc59f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=3036&q=80');">
            <div class="container mb-n5">
                <div class="row">
                    <div class="d-flex align-items-center justify-content-center col-lg-12">
                        <h1 class="text-white bg-black px-3 pt-2 pb-1 d-inline-block position-relative" data-mdb-toggle="animation" data-mdb-animation-start="onLoad" data-mdb-animation-on-scroll="once" data-mdb-animation="fade-in" data-mdb-animation-delay="1000" data-mdb-animation-duration="900">
                            <span class="tilted text-white px-3 py-2" style="left:-5%;">My</span>
                            Account
                        </h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="container pt-8 pb-8">
            <div class="row">
                <div class="row">
                    <div class="col-md-3 mb-3 mg-lg-0" data-mdb-toggle="animation" data-mdb-animation-start="onLoad" data-mdb-animation-on-scroll="once" data-mdb-animation="fade-in-left" data-mdb-animation-delay="1000" data-mdb-animation-duration="900">
                        <partial name="_ManageNav" />
                    </div>
                    <div class="col-md-9" data-mdb-toggle="animation" data-mdb-animation-start="onLoad" data-mdb-animation-on-scroll="once" data-mdb-animation="fade-in-right" data-mdb-animation-delay="1200" data-mdb-animation-duration="900">
                        @RenderBody()
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@if (Model.StatusMessage != null)
{
    <div class="alert alert-dismissible fade show" role="alert" data-mdb-color="success" data-mdb-position="bottom-right">
        @Model.StatusMessage
        <button type="button" class="btn-close" data-mdb-dismiss="alert" aria-label="Close"></button>
    </div>
}

@section Scripts {
    @RenderSection("Scripts", required: false)
}

@section Styles {
    <style type="text/css">
        .header-banner-image-background {
            min-height: 240px;
            background-position-y:25%;
        }

        .nav-pills .nav-link {
            --mdb-nav-pills-link-border-radius: 0.25rem;
            background-color: transparent;
        }

            .nav-pills .nav-link.active, .nav-pills .nav-link.active:hover {
                background-color: var(--mdb-purple) !important;
               
            }
            .nav-pills .nav-link:hover {
                background-color: var( --mdb-light-purple-shadow-color);
            }


    </style>
} 