@model NavPill

<li class="nav-item mx-3" data-mdb-toggle="animation" data-mdb-animation-start="onLoad" data-mdb-animation-on-scroll="once" data-mdb-animation="fade-in-up" data-mdb-animation-delay="0" data-mdb-animation-duration="2000">
    <a class="nav-link text-purple" href="#@Model.FriendlyTitle">@Model.Title</a>
</li>