<!-- Footer -->
<footer class="bg-dark text-white">
    <!-- Grid container -->
    <div class="container py-4 p-lg-5 text-center text-lg-start">
        <!-- Section: Links -->
        <section class="">
            <!--Grid row-->
            <div class="row">
                <!--Grid column-->
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0 d-flex justify-content-center justify-content-lg-start">
                    <a class="navbar-brand" asp-page="/Home/Index">
                        <strong>FUSE</strong>
                    </a>
                </div>
                <!--Grid column-->
                <!--Grid column-->
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                    <h5 class="mb-3">Sleep & Explore</h5>

                    <ul class="list-unstyled mb-0">
                        <li class="mb-3">
                            <a asp-page="/Hostels/Index" asp-route-hostelName="" class="text-white">Hostels</a>
                        </li>
                        <li class="mb-3">
                            <a asp-page="/Tours/Index" asp-route-tourName="" class="text-white">Tours</a>
                        </li>
                        <li>
                            <a asp-page="/OurStory/Index" class="text-white">Our Story</a>
                        </li>
                    </ul>
                </div>
                <!--Grid column-->
                <!--Grid column-->
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                    <h5 class="mb-3">FUSE</h5>

                    <ul class="list-unstyled mb-0">
                        <li class="mb-3">
                            <a asp-page="/Contact/Index" class="text-white">Contact</a>
                        </li>
                        @if (!User.Identity.IsAuthenticated)
                        {
                            <li class="mb-3">
                                <a class="text-white" data-mdb-toggle="modal" data-mdb-target="#logInModal">Sign In</a>
                            </li>
                        }
                        <li>
                            <a data-mdb-toggle="modal" data-mdb-target="#bookNowModal" class="text-white">Book</a>
                        </li>
                    </ul>
                </div>
                <!--Grid column-->
                <!--Grid column-->
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                    <h5 class="mb-3">Legal</h5>

                    <ul class="list-unstyled mb-0">
                        <li class="mb-3">
                            <a asp-page="/TermsAndConditions/Index" class="text-white">Terms & Conditions</a>
                        </li>
                        <li class="mb-3">
                            <a asp-page="/PrivacyPolicy/Index" class="text-white">Privacy Policy</a>
                        </li>
                        <li>
                            <a asp-page="/CookiePolicy/Index" class="text-white">Cookie Policy</a>
                        </li>
                    </ul>
                </div>
                <!--Grid column-->
            </div>
            <!--Grid row-->
        </section>
        <!-- Section: Links -->
    </div>
    <!-- Grid container -->
    <div class="container text-center text-lg-start">
        <div class="row">
            <div class="col-lg-3">
                <!-- Section: Social media -->
                <section class="mb-4">
                    <!-- Facebook -->
                    <a class="btn btn-floating m-1" href="https://www.facebook.com/fusehostelsandtravel" target="_blank" role="button"><i class="fab fa-facebook"></i></a>
                    <!-- Instagram -->
                    <a class="btn btn-floating m-1" href="https://www.instagram.com/fusehostels" target="_blank" role="button"><i class="fab fa-instagram"></i></a>
                </section>
                <!-- Section: Social media -->
            </div>
            <div class="col-lg-6">
                <!-- Copyright -->
                <div class="text-center p-3 small">
                    FUSE Hostels & Travel © @System.DateTime.Now.Year.ToString() | All rights reserved | Designed by <a href="https://www.shuffledesign.co/" class="text-white">Shuffle</a> 
                </div>
                <!-- Copyright -->

            </div>
            <div class="col-lg-3">
            </div>
        </div>
    </div>

</footer>
<!-- Footer -->